{% extends 'base.html.twig' %}

{% block title %}Hello TestReactController!{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script type="text/javascript">
        let adress = document.querySelector("#merchant_adress");
        let street = document.querySelector("#merchant_street");
        let streetnumber = document.querySelector("#merchant_streetnumber");
        let codepostal = document.querySelector("#merchant_code_postal");
        let city = document.querySelector("#merchant_city");
        let cordonneesX = document.querySelector("#merchant_longitude");
        let cordonneesY = document.querySelector("#merchant_latitude");

        function play() {
            const apiUrl = 'https://api-adresse.data.gouv.fr/search/?q=';
            const type = '&type=housenumber';
            const format = '&format=json';

            let code = adress.value;

            code = code.replace(/\s+/g, '+');

            return apiUrl + code + type + format;
        }

        function dataadress() {
            let data = play();
            fetch(data, {method: 'get'}).then(response => response.json()).then(results => {

                //console.log(results.features[0].geometry.coordinates[1]);

                streetnumber.value = results.features[0].properties.housenumber;
                street.value = results.features[0].properties.street;
                codepostal.value = results.features[0].properties.postcode;
                city.value = results.features[0].properties.city
                cordonneesX.value = results.features[0].geometry.coordinates[1];
                cordonneesY.value = results.features[0].geometry.coordinates[0];
            })
        }

        function debounce(callback, delay ){
            let timer = null;
            return function(){
                clearTimeout(timer);
                timer= setTimeout(function(){
                    callback();
                }, delay)
            }
        }

        adress.addEventListener("change", dataadress);
        adress.addEventListener("keyup", debounce(dataadress, 500));
    </script>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <header class="p-5 d-flex flex  justify-content-between flex-lg-row flex-column text-center">
            <div class="center">
                <img class="header__logo" src="{{ asset('build/images/logo.png') }}">
            </div>
            <h1 class="header__headline pt-3">Mon commerce <span class="negative">à&nbsp;proximité&nbsp;!</span></h1>
        </header>

    </div>

    <div class="container-fluid">
        <div class="col-lg-12 map__container">
            <div id="map" class="py-3"></div>
        </div>
    </div>

    <div class="container form__section">

        <div class="col-lg-12 text-center pt-5">
            <h2>
                Vous êtes commercant ?
            </h2>
            <p>Inscrivez vous ci dessous pour apparaître sur la carte !</p>
        </div>

        <div class="col-lg-8 col-md-12 offset-lg-2 py-5 form__container">
            {{ form_start(merchantForm) }}
            {{ form_rest(merchantForm) }}
            <button type="submit" class="btn btn-block btn-inversed">Valider</button>

            {{ form_end(merchantForm) }}
        </div>
    </div>

    <div class="container-fluid">
        <footer class="p-5 mt-5">
            <div class="row">
                <div class="col-lg-4 col-md-12 text-center">
                    <img class="footer__logo" src="{{ asset('build/images/logo_olfp.png') }}"/>
                </div>
                <div class="col-lg-8 col-md-12 py-5 text-center">
                    <p>Site réalisé bénévolement par la formation<br/><em>"Concepteur Développeur
                            d'applications"</em><br>OnlineFormaPro 2020 - Mulhouse</p>
                    <p>
                        Distribué sous licence<br/>Creative Commons CC-BY-NC-ND<br/>
                        <img class="footer__licence" src="{{ asset('build/images/by-nc-sa.eu.png') }}"/>
                    </p>
                </div>
            </div>

        </footer>

    </div>



{% endblock %}
